<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STOP WATCH</title>
    <!-- google font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" />
    <!-- style -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- vue -->
    <script src="https://unpkg.com/vue@3.4.21/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app" v-cloak>
      <main :class="{'recode-mode': recodeList.length > 0}">
        <div class="stop-watch">
          <div class="group hours">
            <span>{{currentTime.hours[0]}}</span>
            <span>{{currentTime.hours[1]}}</span>
          </div>
          <div class="colon">:</div>
          <div class="group minutes">
            <span>{{currentTime.minutes[0]}}</span>
            <span>{{currentTime.minutes[1]}}</span>
          </div>
          <div class="colon">:</div>
          <div class="group seconds">
            <span>{{currentTime.seconds[0]}}</span>
            <span>{{currentTime.seconds[1]}}</span>
          </div>
        </div>

        <div class="btn-group">
          <button class="btn btn-gray" @click="toggleRecordReset">{{isStart ? 'RECORD' : 'RESET'}}</button>
          <button class="btn btn-primary" :class="{ active: isStart}" @click="toggleTimer">
            {{isStart ? 'STOP': 'START'}}
          </button>
        </div>

        <div class="recode">
          <div v-if="recodeList.length" class="title">
            <span class="num">NO</span>
            <span class="interval-recode">INTERVAL</span>
            <span class="total-recode">TOTAL</span>
          </div>
          <ul>
            <li v-for="(recode, i) in recodeList.slice().reverse()">
              <span class="num">{{pad(recodeList.length - i)}}</span>
              <span class="interval-recode">{{ formatTime(recode.intervalRecode)}}</span>
              <span class="total-recode">{{ formatTime(recode.totalRecode)}}</span>
            </li>
          </ul>
        </div>
      </main>
    </div>

    <script type="module">
      const { createApp, onMounted, ref, computed } = Vue;
      const pad = (n) => String(n).padStart(2, '0');
      const formatTime = (time) => `${pad(time.hours)}:${pad(time.minutes)}:${pad(time.seconds)}`;

      createApp({
        setup() {
          const isStart = ref(false);
          const MAX_TIME = 59;
          const INIT_TIME = { hours: 0, minutes: 0, seconds: 0 };
          const totalRecode = ref({ ...INIT_TIME });
          const intervalRecode = ref({ ...INIT_TIME });
          const recodeList = ref([]);
          let timer;

          const currentTime = computed(() => {
            return {
              hours: pad(totalRecode.value.hours).split(''),
              minutes: pad(totalRecode.value.minutes).split(''),
              seconds: pad(totalRecode.value.seconds).split('')
            };
          });

          // 타이머 시작
          const startTimer = () => {
            timer = setInterval(() => {
              intervalRecode.value.seconds++;
              totalRecode.value.seconds++;
              if (totalRecode.value.seconds > MAX_TIME) {
                intervalRecode.value.seconds = 0;
                intervalRecode.value.minutes++;
                totalRecode.value.seconds = 0;
                totalRecode.value.minutes++;
              }
              if (totalRecode.value.minutes > MAX_TIME) {
                intervalRecode.value.minutes = 0;
                intervalRecode.value.hours++;
                totalRecode.value.minutes = 0;
                totalRecode.value.hours++;
              }
            }, 1000);
          };

          // 타이머 시작 / 멈춤
          const toggleTimer = () => {
            if (isStart.value) {
              clearInterval(timer);
            } else {
              startTimer();
            }
            isStart.value = !isStart.value;
          };

          // 타이머 기록 / 초기화
          const toggleRecordReset = () => {
            if (isStart.value) {
              recodeList.value.push({
                intervalRecode: { ...intervalRecode.value },
                totalRecode: { ...totalRecode.value }
              });
              intervalRecode.value = { ...INIT_TIME };
            } else {
              intervalRecode.value = { ...INIT_TIME };
              totalRecode.value = { ...INIT_TIME };
              recodeList.value = [];
            }
          };

          return {
            currentTime,
            recodeList,
            isStart,
            toggleRecordReset,
            toggleTimer,
            pad,
            formatTime
          };
        }
      }).mount('#app');
    </script>
  </body>
</html>
