<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>W - 오늘 날씨</title>
    <!-- google icon -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- google font -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap" />
    <!-- style -->
    <link rel="stylesheet" href="css/style.css" />
    <!-- vue -->
    <script src="https://unpkg.com/vue@3.4.21/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app" class="app" v-cloak>
      <main :class="`bg-${getTimePeriodKey()}`">
        <header>
          <h1>W</h1>
          <p class="time">{{currentDate.date}} {{currentDate.time}}</p>
          <button
            class="material-symbols-outlined icon-location"
            aria-label="현재 위치 갱신"
            @click="getCurrentLocation"
          >
            my_location
          </button>
        </header>

        <section v-if="weather" class="weather">
          <div class="today-weather">
            <h2 class="city">
              <span class="blind">지역</span>
              {{ weather.name }}
            </h2>
            <p class="description">
              {{ weather.weather[0].description }}
              <span class="material-symbols-outlined icon-weather" aria-hidden="true">
                {{ getWeatherIcon(weather.weather[0].icon) }}
              </span>
            </p>
            <p class="temp">
              <span class="blind">온도</span>
              {{ weather.main.temp }}°
              <span class="temp-diff">
                <template v-if="!diffSign">어제와 같아요</template>
                <template v-else>어제보다 {{tempDiffStr}}° {{diffSign === 'up'? '높아요':'낮아요'}}</template>
              </span>
            </p>
            <p class="humidity">
              <span class="blind">습도</span>
              <span class="material-symbols-outlined" aria-hidden="true"> humidity_high </span>
              {{ weather.main.humidity }}%
            </p>
          </div>

          <div class="forecast">
            <div class="forecast-group" v-for="(times, date) in forecastByDate" :key="date">
              <h3>{{ date }}</h3>
              <ul>
                <li v-for="timeData in times" :key="timeData.time">
                  <span class="forecast-time">{{ timeData.time }} </span>
                  <span class="material-symbols-outlined" aria-hidden="true">
                    {{ getWeatherIcon(timeData.icon) }}
                  </span>
                  <span class="forecast-temp"> {{ timeData.temp }}°</span>
                </li>
              </ul>
            </div>
          </div>

          <div class="sunrise-sunset">
            <p>
              <span class="blind">일출</span>
              <span class="material-symbols-outlined icon-sunrise" aria-hidden="true"> clear_day </span>
              {{ formatTime(weather.sys.sunrise, true) }}
            </p>
            <p>
              <span class="blind">일몰</span>
              <span class="material-symbols-outlined icon-sunset" aria-hidden="true"> wb_twilight </span>
              {{ formatTime(weather.sys.sunset, true) }}
            </p>
          </div>
        </section>

        <section v-else class="weather">
          <p v-if="error" style="color: red">{{ error }}</p>
          <p v-else>날씨 정보를 불러오는 중...</p>
        </section>

        <footer>&copy; atozTheme</footer>
      </main>
    </div>

    <script type="module">
      import { useTime } from './useTime.js';
      import { useWeather } from './useWeather.js';
      const { createApp, onMounted } = Vue;

      const { currentDate, getTimePeriodKey, formatTime } = useTime();
      const { weather, forecastByDate, diffSign, tempDiffStr, error, getCurrentLocation, getWeatherIcon } =
        useWeather();

      createApp({
        setup() {
          onMounted(() => {
            getCurrentLocation();
          });

          return {
            weather,
            forecastByDate,
            diffSign,
            tempDiffStr,
            error,
            currentDate,
            formatTime,
            getWeatherIcon,
            getTimePeriodKey,
            getCurrentLocation
          };
        }
      }).mount('#app');
    </script>
  </body>
</html>
