[v-cloak] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  -webkit-appearance: none;
  display: none;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

body {
  font-family: "Outfit", sans-serif;
}

main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
}

.bg-morning {
  background: linear-gradient(to bottom, #fffae3, #cfe9f1);
}
.bg-morning .humidity span {
  color: #00bcd4;
}
.bg-afternoon {
  background: linear-gradient(to bottom, #aee9f5, #e6f7ff);
}
.bg-afternoon .humidity span {
  color: #00bcd4;
}
.bg-evening {
  background: linear-gradient(to bottom, #fdb99b, #c06c84);
  color: #fff;
}
.bg-evening .icon-location,
.bg-evening .humidity span {
  color: #fff;
}
.bg-night {
  background: linear-gradient(to bottom, #1b263b, #2c3e50);
  color: #fff;
}
.bg-night .icon-location {
  color: #fff;
}
.bg-night .humidity span {
  color: #00bcd4;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .icon-location {
  background: none;
  border: none;
  cursor: pointer;
}

.weather {
  text-align: center;
  max-width: 500px;
  width: 100%;
  margin: auto;
}
.weather p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.weather .today-weather .city {
  font-size: 1rem;
}
.weather .today-weather .description {
  flex-direction: column;
}
.weather .today-weather .description .icon-weather {
  display: block;
  margin-right: 0;
  font-size: 6rem;
}
.weather .today-weather .temp {
  flex-direction: column;
  font-size: 4rem;
  font-weight: 800;
}
.weather .today-weather .temp-diff {
  font-size: 1rem;
  font-weight: 300;
}
.weather .today-weather .humidity {
  padding-top: 1rem;
}
.weather .forecast {
  display: flex;
  overflow-x: auto;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  margin: 1rem 0;
  padding: 0.5rem 0;
}
.weather .forecast-group {
  position: relative;
  padding-top: 1.5rem;
  border-right: 1px solid #fff;
  font-weight: 200;
}
.weather .forecast-group h3 {
  position: absolute;
  top: 0;
  left: 1rem;
  font-size: 1rem;
  font-weight: 200;
}
.weather .forecast-group ul {
  display: flex;
}
.weather .forecast-group ul li {
  list-style: none;
  padding: 0 1rem;
}
.weather .forecast-group span {
  display: block;
  white-space: nowrap;
}
.weather .forecast-group:last-child {
  border-right: none;
}
.weather .sunrise-sunset {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.weather .sunrise-sunset p {
  align-items: center;
}
.weather .sunrise-sunset .material-symbols-outlined {
  margin-right: 10px;
}

footer {
  text-align: center;
}

/* animiation */
.icon-sunrise {
  animation: sunrise 3s linear infinite;
}

.icon-sunset {
  position: relative;
  animation: sunset 3s linear infinite;
  animation: name duration timing-function delay iteration-count direction fill-mode;
  transition: 1s;
}

@keyframes sunrise {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes sunset {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}/*# sourceMappingURL=style.css.map */