[v-cloak] {
  display: none;
}
* {
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  display: none;
}
$primary: #2196f3;
$primary-dark: #006dc7;
$gray: gray;
$red: #e91e63;

body {
  background: $primary;
  font-family: 'Outfit', sans-serif;
  color: #fff;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
  &.recode-mode {
    padding: 20px;
    .recode {
      height: 100%;
      max-height: 300px;
    }
  }
}

.stop-watch {
  display: flex;
  align-items: center;
  font-size: 4rem;
  .group {
    span {
      display: inline-block;
      width: 40px;
      text-align: center;
    }
  }
  .separator {
    transform: translateY(-6px);
    padding: 0.5rem;
  }
}

.btn-group {
  .btn {
    margin: 0 1rem;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid #fff;
    background: $primary;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 1px;
    cursor: pointer;
    &:hover {
      background: $primary-dark;
    }
    &-primary {
      &.active {
        background: $red;
      }
    }
    &-gray {
      background: $gray;
    }
  }
}

.recode {
  overflow: hidden;
  transition: 1s 0.5s;
  height: 0;
  max-height: 0;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
  .col {
    flex: 1;
    text-align: center;
    &:nth-child(1) {
      flex: none;
      width: 40px;
    }
  }
  .title {
    display: flex;
    align-items: center;
    height: 40px;
  }
  ul {
    max-height: calc(100% - 40px);
    overflow: auto;
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    box-sizing: border-box;
    li {
      list-style: none;
      display: flex;
      align-items: center;
      margin: 10px 0;
      .num {
        display: inline-block;
        text-align: center;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        background: $primary-dark;
      }
      .time-display {
        display: flex;
        justify-content: center;
        .group span {
          display: inline-block;
          width: 15px;
        }
      }
    }
  }
}
